*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
      .dropdown-content {
        display: none;
      }
      .dropdown-content.show {
        display: block;
      }
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 300px;
    transition: 300ms;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #c19a6b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.exhibition-card{
    margin-right: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 420px;
    box-shadow: 23px 24px 50px -24px rgba(34, 60, 80, 0.2);
}

.exhibition-card-img{
    width: 300px;
    height: 300px;
}
.exhibitions{

    margin-right: 50px;
    margin-left: 50px;
}
.title{
    color: #c19a6b;
    margin-bottom: 50px;
}
.exhibitions-cards{
    display: flex;
    flex-wrap: wrap;
}